<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1> 메모 수정 </h1>

<form name = "Form" method="post" action="/phoneBook/sujungProc">
    <input type="hidden" name="id" th:value="${phoneBook.id}">

    <table border="1" align="center" style = "width: 80%;">
        <tr>
            <td> 작성자 : </td>
            <td><span th:text="${phoneBook.name}"></span></td>
        </tr>
        <tr>
            <td> 폰 : </td>
            <td><input type="text" name="phone" placeholder="폰"></td>
        </tr>
        <tr>
            <td> 주소 : </td>
            <td><input type="text" name="address" placeholder="주소"></td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit">수정하기</button>
<!--                subit 은 누르면 바로전송-->
                <button type="button" onclick="history.back();">이전화면</button>
                <button type="button" onclick="location.href='/phoneBook/list';">목록으로</button>
            </td>

        </tr>
    </table>
</form>



</body>
</html>